/* Media Query for large+ screens */
@media only screen and (min-width:1000px) {
  .mainMenu li:first-child { display: none;	}
	.mainMenu li { display: block; flex: 1 1 auto; }
    .mainMenu { flex-direction: row; }
  
    /*---Navigation Section----*/
    .norm:hover {box-shadow: 0 0 50px #333;}
     /*---Header Section----*/
     .imgicon {
      width: 10%;
      position: absolute;
      left: 250px;
      }

    /*----forecast Section----*/
      .forecast{
        align-content: center;
        display:block;
    
    } 

    /*---Weather Summary----*/
    .summary {
      
      font-size: .8em;
  
      
  }


    /*---Article Section----*/
    .art-fix {
      max-width: 70%;
      float: right;
      text-align: right;
  }
  .soda-art{
  max-width: 70%;
  float: right;
  text-align: right;}
 
   /*---Events Section----*/
   .homeimage1{
    width: 30%;
  }
  section div{
    font-size: 1.2em;
  }

  iframe{
    margin: 0;
    width:350px;
    height:250px;
      box-shadow: 2px 2px 10px #000;
     
      padding: 10px;
  }
  /*----footer------*/
  .section2 {
    flex-flow: row;
    
    justify-content: space-evenly;
  }

/*---Gallery Page----*/
    .container{ 
      display:inline-grid; 
      grid-template-columns: 1fr 1fr 1fr;
    }



/*---Home Page----*/
    #ftos{
      display:grid; 
      grid-template-columns: 1fr 1fr 1fr;
    }
    .bloque{
      width: 95%;}
      .inform img {
        width: 50px;
    }
    
   
}/*end large */
  




