@import url('https://fonts.googleapis.com/css?family=Boogaloo|Bree+Serif|Courgette|Dancing+Scrip|Francois+One|Kalam|PT+Sans+Narrow|Permanent+Marker|Rock+Salt|Signika+Negative|Vidaloka|Work+Sans|Yeon+Sung');

#content {
	background-color:rgb(147, 167, 125);
	width: 480px;
	margin: 0 auto; 
	padding: 10px;
}

header {
	margin: 10px auto;
	background-color:rgb(231, 207, 69);
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
	
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	font-family:"Courgette", Charcoal, sans-serif;
	font-size: 1.4em;
	
}
.motto{
	font-size: 13px;
}
.img {
	width: 85px;
	position: relative;
  top: 10px;
  left: 10px;
  border: 2px yellow;
}

nav a{
	text-decoration:none;
	color: black
	
}
nav li{
	

	text-align: center;
	list-style-type:none;
}

nav a:hover {
 background-color:green;
 display: block;
 }

h3 {
	Font-family:"Kalam","Lucida Grande", sans-serif;
	text-align: center;
	font-size: 2.25em;
}

.hero{
	box-shadow: 0 0 10px #777;
	text-align: center;
	padding: 10px
}
	
.art{box-shadow: 0 0 10px #777;
}

 h1,h2{	font-family:"Alegreya", "Book Antiqua", Palatino;
  font-size:1.1em;
  line-height:1em;
	
}

.box{box-shadow: 0 0 400px #777;
	text-align: center;
	
}
#radar{
	width:50%;
}

img{
	width: 80%;
}
footer {
background-color:#688A08;
	padding: 5px ; 
   margin-top: 100px;
	text-align: center;
	
	
}