/* Media Query for large+ screens */
@media only screen and (min-width:800px) {
  .mainMenu li:first-child { display: none;	}
	.mainMenu li { display: block; flex: 1 1 auto; }
    .mainMenu { flex-direction: row; }
  
    
    
      .forecast{
        align-content: center;
        display:block;
    
    } 

    .container{ 
      display:inline-grid; 
      grid-template-columns: 1fr 1fr 1fr;
    }

    .norm:hover {box-shadow: 0 0 50px #333;}

}/*end large */
  




