/* Media Query for medium + screens */
@media only screen and (min-width:  32.5em) {
    .navigation {
        list-style: none;
        text-align: center;
    }
    .navigation li:first-child { 
          display: block;
        }
    .navigation li { 
          display: none;}
    .navigation a {
        display: block;	color: #fff;
         padding: .75rem;
        text-align: center;
        text-decoration: none;}
    .navigation a:hover {
        color: #000;
        background-color: #fff;
        font-weight: 700;	}
      
      li a:hover:not(.active) {
        background-color: green;
      }
      
      .active {
        background-color: rgb(104, 110, 106);
      }
     
      .forecast{
        align-content: center;
        display: block;
    
    }
    #Foretitle{
    
    text-align: center;
    }
       img{
           width:50%;}
    
    
    table {
        border-collapse: collapse;
        width: 50%;
        margin: auto;
       
       
      }
      
        th {
        border: 1px solid black;
        padding: 0 5em 0 0.5em;
        background-color: rgb(108, 158, 108);
        padding: 10px;
        
        
      }
      
      
      td {border: 1px solid black;
       height: 70px;
       background-color: white;
       text-align: center;
    }
    .icon{
    width: 50%;
    align-content: center;
    }
      

    
    }




