@media only screen and (min-width:1000px) {
    .menubar li:first-child { display: block;	}
      .menubar li { display: block; flex: 1 1 auto; }
      .menubar { flex-direction: row; }
      #dismenu{
          display: none;
      }
      /*---Navigation Section----*/
      /*.norm:hover {box-shadow: 0 0 50px #333;}*/
      .image-hero{
        width:100%;
    }
    .image-te{
        width: 70%;
    }
    /*------footer Page------*/
    aside{
        display: flex;
        flex-flow: row nowrap;
    }
    .inform-1{
        width: 20%;
    }
    .inform-2{
        width:30%;
    }
    .bloque-2 {
        display: flex;
        flex-direction: row;
    }
    .inform-2 {
        font-family: fantasy;
    }
    #sidetex {
        width: 70%;
    }
    .cont-us-p {
        width: 50%;
    }
    .cont-us-p p {
        font-size: 1.3rem;
        font-family: sans-serif;
    }
    .aboUs{
    width: 70%;
    }
    .tempinf{
        display: flex;
        flex-direction: row;
    }
    .tempinf > div{
        width:20%;
    }
    /*------Temple Page------*/
    .templimg-p{
        width: 100%;
    }
    .box1-temple{
        grid-column: 1/3;
        grid-row: 1/3;
    }
     .tem-info-1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
    }
    /*------Contact Page------*/
    .tem-info-us{
        display: flex;
        flex-direction: row;

    }
    /*-----home page------*/
    #welc {
        font-size: 2.2rem;
        padding:30px;
        text-align: left;
       
    }
    #welc-1 {
   font-size: 1.6rem;
   padding: 10px
}
.book-fr {
    background-color: rgb(12, 11, 11,.5);
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 10px;
    position: absolute;
    left: 670px;
    top: 400px;
}
#h3 {
    position: absolute;
    top: 347px;
    left: 700px;
    color: white;
    font-family: serif;
    font-size: 1.5rem;
}
.ads{
    display: flex;
    flex-direction: row;
    
}
.ads img {
    width: 100%;
    height: 200px;}
.ads > div {
    
width: 25%;
}
.ads p{
font-size: 1.5rem;
}
.right-box,.left-box {
line-height:1.5em;
text-align:center;
 width: 30%;
margin: auto;
}
.tour1, .tour2{
 display: flex;
 flex-direction: row;
    }
.box2-temple{
        width: 100%;
 }
.box3-temple{
        width:100%;
}
.summary {
  position: absolute;
 top: 220px;
}
.schetemp {
    display: flex;
    flex-direction: row;
    }
.right-sche{
        width:50%;
    }
 .temple-infor > div {
        border: solid black 2px;
        border: solid black 2px;
        margin: 10px;
         width: 30%
    }
 .temple-infor{
    display:flex;
    flex-direction: row;
       

    }
.temple-infor-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
.reserpa {
        display: flex;
         flex-direction: row;
    }
 .r-form{
        width:30%;
    }
.r-form-1{
        width:20%;
    }
.img-reser{
        display: flex;
        flex-direction: row;
    }
.img-reser > div{
        width:25%;}
.ser-p {
    display: flex;
    flex-direction: row;}
.ser-p-1 {
     width: 50%;} 
.ser-p-2 {
     width: 40%;} 

 .sec1, .sec2 {
        display: flex;
        flex-flow: row wrap; 
    }
.leftcol, .rightcol{
         max-width: 48%;
        flex: 1 0 15em;}
 .img-misio{
    display: grid;
    grid-template-columns: 1fr .5fr ;}
 .imgmis{
 width: 60%;
                
}
.img-misio img{
     width:60%;
 }

.form-mis{
    display:flex;
    flex-direction: row;
}
.form-mis .contus-fo {
    width: 50%;
}
.temimg{
    text-align: center;
}
h5{
    text-align: left;}
.box3 p{
    font-size: 1.5rem;
}
}