body{
    background-color:#fff2e6;
    margin: 10px;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    


}
h2{
    font-family: fantasy;
    text-align: center;
    font-weight: bold;
}
.hero{
    background-image: url(../images/temple2-3.jpg);
    min-height: 380px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    width: 90%;
}
/*--------Navigation Section-------*/
nav {	
    justify-content: space-around;
    margin: 0 7px;
    max-width: 100%;
    background-color: #b32d00;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
   padding: 5px;
}
  
  .menubar { 
    list-style: none; 
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content:center;
  
  }
  .menubar li:first-child { 
    display: block;
  }
  .menubar li { 
    display: none;}
  
  .menubar a {	
    display: block;	
    color:white; 
    padding: .75rem;	
    text-align: center;	
    text-decoration: none;
    width: 150px;
  }
  .menubar a:hover {	
      color: #000; 
    background-color: rgba(248, 237, 238, 0.5); 
   
	}
  .dropdown a:hover {
      background-color: #46d2d2;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(201, 187, 172);
  }
  
  .active {
    background-color:rgb(121, 104, 101);
  }
 
  .responsive li { display: block; }
  ul li ul.dropdown{
    width: 100px;/* Set width of the dropdown */
    background:rgba(194, 69, 98, 0.5);
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
    width: 136px;
   
}
ul li ul.dropdown li{
    display: block;
    
}
.dropdown a{
    text-align: right;
    color: white;	
     text-decoration: none;
     width: 100px;
      }

/*--------------------*/

#logo-img{
    
    margin-left: 10px;
    
    height: 80px;;
    position: relative;
    top:10px;
    left: 20px;
}
#h3{
    color: black;
    font-family: serif;
    font-size: 1.3rem;
}


.book-fr {
        background-color: rgb(12, 11, 11,.5);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        padding: 10px;
        margin: auto;
    
}
.form{
   
    padding-top:1rem;
    color:rgb(248, 245, 245);
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    
}
.form-1{
    padding-top:1rem;
    color:white;
    font-size: 1rem;
    font-weight: bold;
    width: 30%;
    

}
#form-2{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
form .form-1 input, form .form-1 select{
    display:flex;
    font-size: 1rem;
    border:solid 1px rgb(22, 22, 22);
    border-radius: 3px;
    flex-direction: row;
    
    width:80%;
    
    background-color: rgb(239, 243, 241);

}
form .form input, form .form select{
    display:flex;
    font-size: 1rem;
    border:solid 1px rgb(22, 22, 22);
    border-radius: 3px;
    flex-direction: row;
    
    width:95%;
    
    background-color: rgb(239, 243, 241);
    
}

.buttom-1{
    
    background-color:white;
    color:black;
    margin:2%;
    padding: 5px;
   
    width: 100%;
    cursor: pointer;
}
.buttom-1:hover {
   background-color: rgb(125, 187, 182);
 }
.image-hero{
    width:100%;
}
.trafor{
    position: absolute;
}
#welc{
    color: white;
    font-family: fantasy;
    font-size: 1.5rem;
    font-weight: bold;
    
    padding: 40px;

}
#welc-1{

        color: white;
        font-family: fantasy;
        font-size: 1rem;
        padding:10px;

   

}
#bookN{
    text-align: center;
}
.tempinf{
    display: flex;
    flex-direction: column;
}
.tempinf > div {
    
    color: black;
   
    margin: 10px;
    text-align: center;
    font-size: 1rem;
  }
.temple{
    width:100%;
}
/*---------------Home page--------*/
.ads{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.ads > div {
    
    color:black;
    
    margin: 10px;
    text-align: center;
   
    
  }

.secimg{
    width: 100%;
}
.ads img{
    width: 100%;
    height: 200px;
    box-shadow: 5px 10px 18px black;
}
#h6{
    font-family:serif;
    font-size: 1rem;
  
}
/*-------Information Section-----*/


/*--------------Footer Section---------*/
.inform-2 img {
    width: 30px;
}
h5{
    font-family: fantasy;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}
aside{
background-color: rgb(5, 5, 5);
border:solid black 2px;
display: flex;
flex-flow: column nowrap;
justify-content: space-evenly; 
border: 2px solid black;
padding: 10px;
margin:10px;

}
.inform-1{
    font-family: fantasy;
    text-align: center;
    color: white;
    width: 100%;
    line-height: 1.5rem;
  
}
.inform-2{
    font-family:fantasy;
    text-align: center;
    color: white;
    width:100%;
    line-height: 1.5rem;
}
.inform-3{
    background-color: #b32d00;
    padding:10px;
    margin: 10px;
    text-align: center;
}
/*---------TemplePage-------*/

.left-box {
  
    width: 30%;
   
  
    display:flex;
    flex-direction:column;
    padding:30px;
    border:1px solid rgb(158, 182, 169);
    justify-content: center;
    align-items: center; 
    margin-left:10%;
   
    
  }
  
  
    
  .right-box {
    
    width: 30%;
    display:flex;
    flex-direction:column;
    padding:30px;
    border:1px solid rgb(169, 216, 204);
    justify-content: center;
    align-items: center; 
    margin-right:10%;
   
    
    
    
    
    
  }
  .tour1, .tour2 {
  
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
  justify-content: space-between; 
  
    
  }
  
  
  .right-box,.left-box {
    padding: 5px;
    color: black;
  width: 80%;
    font-size:1em;
    margin: 10px;
    text-align:center;
    }
  
  
  
  
  

/*---------Temple/Temple pages-----*/
.tem-info-1{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    background-color:#46d2d2;
    justify-items: stretch;
    align-items: stretch;
    padding: 30px;
    margin: 20px;

}
.temple-infor{

    display: flex;
    flex-direction: column;
}
.temple-infor > div{
    border: solid black 2px;
    border: solid black 2px;
    margin: 10px;
    
}
.temple-infor-2{
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 4em;
    background-color: rgb(201, 186, 181);
    justify-items: stretch;
    align-items: stretch;
    padding: 30px;
    margin: 20px;
}
.temple-infor-2 p{
    text-align: center;
}
.schetemp{
    border: 2px solid black;
    
}
.summary {
    position: absolute;
    top: 340px;
    left: 40px;
    margin: 0;
    background-color: rgb(162, 203, 223);
    border: 1px solid black;
    padding: .4rem;
   

    
}
.summary p{
  text-align: left;
  font-family: Georgia, 'Times New Roman';
  font-size: .8em;
}

.underline{

    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
    color:white;
    
} 
.box1-temple{
    margin:auto;
}
.box2-temple{
    width: 100%;
}
.box3-temple{
    width:100%;
}

/*---------reservations Page-------*/
 .reserpa {
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    background-color: darkcyan;
    width: 80%;
    flex-direction: column;
    
    
}
#field {
    text-align: inherit;
    padding: 0 5%;
    min-height: 20rem;
}
.reserpa fieldset{
margin: 2rem 0;
border:1px solid black;
border-radius: 10px;
padding: .5rem 2%;
background-color: rgb(103, 133, 100);
}
.reserpa legend{
color:rgb(12, 8, 27);
margin: 0 1rem;
padding: 0 .5rem;
font-family: Arial, Helvetica, sans-serif;
}
.row{
    display: block;
    padding-top:1rem;
    color:black;
    font-size: 1rem;
    font-weight: bold;
    
}
.reserpa .r-form input, .reserpa .r-form select{
    display:block;
    font-size: 1rem;
    border:solid 1px rgb(22, 22, 22);
    border-radius: 3px;
    padding: .75rem;
    color:#555;
    width:80%;
    
    
}
.reserpa .r-form-1 input, .reserpa .r-form-1 select{
    display:block;
    font-size: 1rem;
    border:solid 1px rgb(22, 22, 22);
    border-radius: 3px;
    padding: .75rem;
    color:#555;
    width:80%
   
    
}
.r-form{
   
    padding-top: 1rem;
    color: rgb(248, 245, 245);
    font-size: 1rem;
    font-weight: bold;
    
    
}
.r-form-1{
    padding-top:1rem;
    color:white;
    font-size: 1rem;
    font-weight: bold;
    
    

}
textarea{
    width:300px;
    height: 200px;
}
  .buttom{
    background-color:white;
    color:black;
    margin:2%;
    padding: 5px;
   
    width: 30%;
    cursor: pointer;
 }
 .buttom:hover {
    background-color: rgb(106, 150, 102);
  }
  #butre{
      width:100%;
  }
  .img-reser{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px 10px;
    line-height: 10px;

  }
  .rese-img{
     width: 90%;
     height: 200px;
     border-radius: 5px;
  }
  .img-reser > div{
      
      width: 100%;
    text-align: center;
     
  }
  /*-----------------Missionary Page----------------*/

.img-misio{
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch

}
.img-misio > div{
background-color: #46d2d2;
padding: 1em;
text-align: center;
padding: 20px;


}
.img-misio img{
    width:90%;
}
.imgmis{
    width: 90%;
    
}
#imgmis-1{
    width:300px;
}

.form-mis{
    display:flex;
    flex-direction: column;
}
.form-imgmi{
    width: 50%;
    margin: 20px;
    text-align: center;
    line-height: 80px;
    padding: 20px;
}


/*------Service Page-------*/
.ser-p{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    background-color: rgb(118, 180, 180);
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}


.ser-p img{
  width:70%;
  padding: 10px;
 
}
#img-ser{
    width:100%;
   
  padding: 10px;

}
.ser-p-1{
   
    padding: 10px;
  
}
.ser-p-2{
  
    padding: 10px;
    text-align: center;
    margin: auto;
  
}
.ser-p h3{
    text-align: left;
}
 /*-----------------Service/reception Page----------------*/
 #main-re{
     display: block;
    padding: 10px;
    margin: 20px;
 }
  .sec1, .sec2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    background-color: burlywood;
    
    }
    #wedp{
    font-size: 2em;
    margin: 0.67em 0;
    color: rebeccapurple;
    line-height: 2.8rem;
    }
    .leftcol, .rightcol{
        padding: 10px;
    }
    .img1, .img2 {
     width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
     }
     h1 {
        font-size: 1.8em;
        margin: 0.67em 0;
    }
.wedd-pa{
    background-image: url(../images/bride1.jpg);
    min-height: 380px;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    position: relative;
}

#templesche{
    border-collapse: collapse;
    font-family:'Times New Roman', Times, serif;
    width: 100%;

}
#templesche td, #templesche th{
    border: 1px solid black;
    padding: 8px;

}
#templesche tr:nth-child(even){background-color: #f2f2f2;}

#templesche tr:hover {background-color: #ddd;}

#templesche th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
/*---------Contac Us Page----------*/

.tem-info-us{
    display:flex;
    flex-direction: column;

}

.contus-fo fieldset{
        margin: 2rem 0;
        border:1px solid black;
        border-radius: 10px;
        padding: .5rem 2%;
        background-color: rgb(103, 133, 100);
        }
.bloque-2 img{
    width: 80%;
    padding: 20px;
    margin: 20px 10px;

}
.bloque-2{
    display:flex;
    flex-direction: column;
    padding:10px;
}
.aboUs{ 
    text-align: inherit;
    padding: 0 5%;
    min-height: 20rem; 
    

}
.contus-fo{
    margin: 10px;
    border:1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color:lightslategray;
} 
.contus-fo .aboUs-f input, .contus-fo .aboUs-f select{
    display: block;
    font-size: 1rem;
    border: solid 1px rgb(22, 22, 22);
    border-radius: 3px;
    padding: .40rem;
    color: rgb(5, 5, 5);
    width: 100%;
    

}
.buttom-2{
     background-color:white;
    color:black;
    margin:2%;
    padding: 5px;
   
    width: 30%;
    cursor: pointer;
 }
 .buttom-2:hover {
    background-color: rgb(102, 128, 150);
  }


.aboUs-f{
    padding-top: 1rem;
    color: rgb(248, 245, 245);
    font-size: 1rem;
    font-weight: bold;
    width: 50%;;

}
.cont-us-p{
    width:100%;
}
.cont-us-p p{
    font-size: 1rem;
    
    font-family: sans-serif;
}
#icon{
    width: 10px;
    position: relative;
    top: 45px;
    right: 140px;

}
.info-con,h4 p{
    
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#map{
    border: solid black 1px;
    width: 100%;
    height: 250px;
    box-shadow: 2px 2px 10px #000;
}
#sidetex{
    width:100%;
}
/*------thanks page------*/
#mery-c{
    margin: auto;
    padding: 5px;
    border: solid black 1px;

}
#letter{
    
    display: flex;
    justify-content: space-evenly;
}
#letter-1 h2, h3{
    text-align: center;
    font-size: 1.4rem;

}
#letter-1{
    display: block;
    
}
#hous-img{
    width: 90%;
    padding: 10px;
}
.schetemp{
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    margin: 20px;
    background-color: cornsilk;
    display:flex;
    flex-direction: column;
}
.left-sche{
    width:100%;
   padding: 10px;
}
.right-sche{
    width: 100%;
    padding: 10px;

}
#houston{
    padding:10px;
}
#houston h3{
    text-align: left;
}
